axial-positional-embedding
cycler
datasets
einops
joblib
kiwisolver
local-attention
matplotlib
mpmath
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
patool
patsy
pillow
pip
huggingface_hub
product-key-memory
pyparsing
python-dateutil
pytz
reformer-pytorch
scikit-base
scikit-learn
scipy
setuptools
six
sktime
statsmodels
sympy
threadpoolctl
torch
tqdm
typing_extensions
wheel
